<div id="footer-wrapper" class="middle">
    <div class="container" id="footer-container">
        <div class="row">
            <div class="col-12">
                <nav id="nav-footer">
                    <ul>
                        <li><a href="/community/contributing/" title="">Contributor Guide</a></li>
                        <li><a href="/community/code-of-conduct/" title="">Code of Conduct</a></li>
                        <li><a href="/license/" title="">License</a></li>
                    </ul>
                </nav>
                <p>
                    &copy; 2021 <a href="https://www.anovos.ai">Anovos Developers</a>.
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
