<div id="footer-wrapper" class="middle">
    <div class="container" id="footer-container">
        <div class="row">
            <div class="col-12">
                <nav id="nav-footer">
                    <ul>
                        <li><a href="/community/contributor" title="">Contributor Guide</a></li>
                        <li><a href="/community/license/" title="">License</a></li>
                        <li><a href="/community/code-of-conduct/" title="">Code of Coduct</a></li>
                        
                    </ul>
                </nav>
                <p>
                    © 2021 <a href="https://www.anovos.ai">Anovos</a>. All right reserved
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>
</div>