
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header id="site-header">
  <!-- Button to open drawer -->
  <nav id="nav-main" class="nav">
    <div class="md-grid nav-grid-container">
      <section class="md-grid grid-x row align-right nav-grid-section">
        <a aria-current="page" class="logo" href="https://docs.anovos.ai/">
          <img src="https://anovos.github.io/anovos-docs/assets/logo.png" alt="Anovos Logo">
        </a>
				<ul class="nav-items">
					<li class="first-nav-item">
						<a href="https://www.anovos.ai">anovos.ai</a>
					</li>
					<li class="">
						<a href="https://docs.anovos.ai/getting-started/">Getting Started</a>
					</li>
					<li class="last-nav-item">
						<a href="https://docs.anovos.ai/community/communication/">Get in Touch</a>
					</li>
				
				</ul>
				<ul class="social-icons">
					<li class="pre">
						<a href="https://github.com/anovos/">
							<i class="fa fa-github"></i>
						</a>
					</li>
					<li class="pre">
						<a href="https://twitter.com/anovos/">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="pre">
						<a href="https://go.mlops.community/slack">
							<i class="fa fa-slack"></i>
						</a>
					</li>
				</ul>
      </section>
    </div>
  </nav>
</header>
